.ui-listview-filter .ui-input-search{
    margin-bottom: 15px;
}

a.main-category-link{
    text-decoration: none;
}

.main-category-wrapper{
    //padding: 5px;
}

.main-category{
    height: 125px;
    text-align: center;
}

.adp-directions { width:100%; }
.adp-placemark, .adp-summary, .adp-legal { display:none; margin: 0; }
.adp-placemark, .adp-step, .adp-stepicon, .adp-substep{ border-top: none;text-align:center; vertical-align: middle; padding: 0.8em 0; background:#e9eaeb;color:#3e3e3e;text-shadow:0 1px 1px #fff;background-image:-moz-linear-gradient(top,#f0f0f0,#e9eaeb);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f0f0f0),color-stop(1,#e9eaeb));-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#e9eaeb')"}
.adp-directions tr { border:1px solid #b3b3b3; }
